body {
<<<<<<< HEAD
   <!-- text-align: center;
=======
    /* text-align: center; */
    /* background-image: url('./images/sample.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
>>>>>>> c431e9401c7c95916df9e5d8cad18ccf9807a062
}

header{
    color:blueviolet;
    background-color: coral ;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

.container{
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    display: flex;
    margin-top: 5rem;

}
section{
    background-color: rgb(43, 9, 75);
    padding: 30px;
    border-radius: 50px;
    color: beige;
    transition: 0.9s;

}
section:hover{
    background-color: rgb(75, 157, 161);
    color: black;

}

label{
    color:rgb(214, 204, 223)
}
label:hover{
    color: rgb(6, 92, 66);
    
}

input{
    padding: 8px;
    border-radius: 6px;
    outline: none;
    color: blue;
}

.submit{
    padding: 15px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: none;
    

}

.reset{
    padding: 15px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border-radius: 8px;
    border: none;
 

}

table{
    border:1px solid black
    
}
th, td{
    border-radius: 10px;
}


tr:hover{
    background-color: rgb(124, 58, 58);
}