.loginpage{
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    padding: 10px;

    
}
.loginpage a{
    text-decoration: none;
    text-align: right;

    
}

input{
    width: 100%;
    margin-bottom: 10px;
}
.signin{
    padding: 10px;
    width: 320px;
    background-color: rgb(97, 32, 45);
    color:burlywood;
    border-radius: 5px;
}
.regform{
    justify-content: center;
    align-items: center;
    display: flex;

}
.register{
    width: 320px;
    height: 30px;
    border:none;
    background-color: brown;
    border-radius: 5px;

}
select{
    background-color: pink;
}

.label-group{
    display: flex;
    /* justify-content:; */
    justify-content:space-between;
    margin-bottom: 5px;
}
