.image {
    display: flex;
    justify-content: center;
    padding: 10px;
}   

.picturerow{
    display: flex;
}

img{
    border: solid pink;
    border-radius: 2px;

}


/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
   .picturerow{
        display: block;
    }
  }
    